@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carrossel.css");
@import url("../styles/topicos.css");
@import url("../styles/contato.css");
@import url("../styles/rodape.css");

:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --dourado-principal: #EB9B00;
    --preto: #000000;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins", sans-serif;
    --fonte-secundaria: "Josefin Sans", sans-serif;
    --azul: #002F52;
    --cinza-principal: #858585;
}

html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 400;
}



